<div>
           <div class="row" id="blbg">
               <div class="col-md-2"></div>
               <div class="col-md-7" style="margin-top:80px; margin-bottom: 80px;">
               <div ng-if="blogsApproved.length==0">No blog</div>
                <ul style="list-style:none;"> 
                    <li ng-repeat="blogPost in blogsApproved | orderBy: '-b_datePostedOn'">
                            <div class="card" style="border:0px solid black; margin-top:20px;box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); background-color:#ededed">
                                    <div class="card-body" style="padding:0px 30px; margin-top:10px;">
                                    <h5 class="card-title text-center" style="padding:20px 20px;">{{blogPost.b_title}}</h5>
                                    <p class="card-subtitle" style="margin-top:10px;"><i class="fa fa-calendar"></i>&emsp;{{blogPost.b_datePostedOn | date : "dd.MM.y"}}</p>
                                    <p class="card-subtitle" style="margin-top:10px;"><i class="fa fa-user" aria-hidden="true"></i>&emsp;{{blogPost.b_postedByUn}}</p>
                                   	<hr/>
                                    <p class="card-text">
                                    
                                        <div class="row" style="margin-top:15px; padding:10px 10px; color:grey;">
                                            {{blogPost.b_content | limitTo : 100}}.....
                                            
                                        </div>
                                        <hr/>
                                        <div class="row" style="margin-top:30px; ;">
                                            <div class="col-md-6">
                                                <a href="#/getBlog/{{blogPost.b_id}}" class="btn btn-primary btn-sm">View Article&nbsp;<i class="fa fa-eye" aria-hidden="true"></i></a>
                                                <a ng-show="user.u_phoneNumber==blogPost.b_postedBy" href="#/updateBlog/{{blogPost.b_id}}" class="btn btn-success btn-sm">Update Article&nbsp;<i class="fa fa-wrench" aria-hidden="true"></i></a>
                                             	<button ng-show="user.u_phoneNumber==blogPost.b_postedBy" ng-click="deleteBlog(blogPost)" class="btn btn-danger btn-sm">Delete Article&nbsp;<i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                            </div>
                                            <div class="col-md-6" style="text-align:right;">
                                                <i style="color:green;" class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>&nbsp;{{blogPost.likes}}	&emsp;			
                                                <i style="color:red;" class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i>&nbsp;{{blogPost.dislikes}}

                                            </div>
                                        </div>
                                    </p>
                                </div>
                            </div>
                    </li>
                </ul>
               </div>
               <div class="col-md-3"></div>
        </div>
    </div>